<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue3 Tutorial</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <style>
    .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: mistyrose;
      margin: 20px;
      display: inline-block
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-if="showBooks">
      <p>{{ title }} - {{ author }} (age: {{age}})</p>
    </div>
    <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books?</span>
      <span v-else>Show Books?</span>
    </button>

    <br>

    <div class="box" @mouseover="handleEvent">Mouse Over</div>
    <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
    <div class="box" @dblclick="handleEvent">Double Click</div>
    <div class="box" @mousemove="handleMouseMove">Mouse Moved to: {{x}},{{y}}</div>

  </div>
  
  <script src="app.js"></script>
</body>
</html>